VITE_COGNITO_USER_POOL_ID=ap-northeast-1_XXXXXXXXX
VITE_COGNITO_USER_POOL_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_IDENTITY_POOL_ID=ap-northeast-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
VITE_COGNITO_DOMAIN=my-react-app-hosted.auth.ap-northeast-1.amazoncognito.com
VITE_COGNITO_REDIRECT_SIGNIN=http://localhost:5173
VITE_COGNITO_REDIRECT_SIGNOUT=http://localhost:5173
