node_modules
.DS_Store
dist
*.local
.env
yarn.lock
.npmrc
.pnpm-store
.pnpm-home
.corepack
.mise.local.toml
*.tsbuildinfo

# Terraform artifacts
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
